ion-card {
    height: calc(100% - 100px);
}

.plot-input-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px 4px 10px 16px;
    margin: 4px 10px 0;
    background: #ffffff;
    height: auto;
    align-items: center;

    ion-item {
        --background: none;
        --padding-start: 0;
        --inner-padding-end: 0;
        --inner-border-width: 0;
        margin: 0 6px;
        width: 100%;

        ion-label {
            font-size: 20px;
        }

        ion-input {
            color: #121212;
            --placeholder-opacity: 0.2;
        }
    }
}
